<div class="jumbotron">
    <h1>ASP.NET</h1>
    <div class="panel-lead"><p class="panel-lead__text">C:\\Users\\Simon\\Dropbox\\VedaleonTechTest\\pnl.txt</p></div>
    <div class="panel-controls">
        <div class="panel-controls__container">
            <div class="controls controls-search">
                <div class="controls-inner controls-search__container">
                    <label class="input-label">Search:</label><input type="text" name="search" class="searchterm input-field" />
                    <button class="searchbtn btn btn-primary btn-lg glyphicon glyphicon-search panel-controls__btn" disabled></button>
                </div>
            </div>
            <div class="controls controls-write">
                <div class="controls-inner controls-write__container">
                    <label class="input-label">Write:*</label><input type="text" name="write" class="writeterm input-field" placeholder="[last]/[first] .L/[flightno]" />
                    <button class="writebtn btn btn-primary btn-lg glyphicon glyphicon-plus panel-controls__btn" disabled></button>
                </div>
            </div>
        </div>
        <div class="panel-controls__container">
            <span>*Please format any write queries as per the file structure e.g. 1TAYLOR/HAYLEYMRS-B2 .L/LVGVUP</span>
        </div>
    </div>
</div>
<div class="jumbotron">
    <h1>Results</h1>
    <p class="lead">Updated list shown below</p>
    <div class="output"></div>
</div>