<div class="jumbotron">
    <h1>ASP.NET</h1>
    <div class="panel-lead"><p class="panel-lead__text"></p></div>
    <div class="panel-controls">
        <p>Search: <input type="text" name="search" class="searchterm" /><button class="searchbtn btn btn-primary btn-lg glyphicon glyphicon-search panel-controls__btn"></button></p>
        <p>Write: <input type="text" name="write" class="writeterm" /><button class="writebtn btn btn-primary btn-lg panel-controls__btn">Add to file</button></p>
    </div>
</div>
<div class="jumbotron">
    <h1>Results</h1>
    <p class="lead">Updated list shown below</p>
    <div class="output"></div>
</div>